body {
    background-color: yellow;
}

form {
    margin-top: 5px;
}
h1 {
    color: blue;
    padding-top: 60px;
    margin-left: 45px;
}

.pc {
    margin-top: 5px;
    margin-left: 95px;
    background-color: blue;
    color: yellow; 
}
a {
    text-decoration: underline;
    color: yellow;

}

#sav {
    text-align: center;
}

#nex {
    text-align: right;
}
