<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Title</title>
</head>
<body>
    <h1>Welcome to you Pokedex this is where you can see all your Pokemon<br>
    you can release them from here as well as view all there stats</h1>
    {% for pokemon in pokemon_info %}
    <div class="card pc" style="width: 18rem;">
        <form method="POST", action="{{ url_for('search') }}">
        <div  class="card_button" id="pev"><a href="#">Previous</a></div>
        <div class="card_button" id="sav"><a href="url_for({{ pokemon_info.name }})">Catch</a></div>
        <div class="card_button" id="nex"><a href="#">Next</a></div>
        </form>
        <img src="{{ pokemon_info.sprite }}" class="card-img-top" alt="...">
        <div class="card-body">
          <b><h4 class="card-title">{{ pokemon_info.name.title() }}</h4></b>
          <p class="card-text">
            <b><p>Ability: {{ pokemon_info.abilities.title() }}</p></b>
            <ul>
              <b><li>Type: {{ pokemon_info.type.title() }}</li></b>
              <b><li>Exp: {{ pokemon_info.base_exp }}</li></b>
              <b><li>HP: {{ pokemon_info.h_p }}</li></b>
              <b><li>Attack: {{ pokemon_info.attack }}</li></b>
              <b><li>D#: {{ pokemon_info.def }}</li></b>
            </ul>
    
            </p>
        </div>
      </div>
      {% endfor %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>