<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Update User Info</title>
</head>
<body>
    <div>
    <form class="container" method="POST">
        {{ form.hidden_tag() }}

        {{ form.username(class='form-control', placeholder='username') }}
        {{ form.email(class='form-control', placeholder='email') }}
        {{ form.password(class='form-control', placeholder='password') }}
        {{ form.confirm_password(class='form-control', placeholder='confirm password') }}
        {{ form.submit(class='btn btn-primary') }}
    </form>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>